html {
  background-color: black;
}

.glowing {
  color: #f5e39e;
  text-shadow: 0 0 1px #f5e39e, 0 0 6px #e6b800, 0 0 9px #e6b800,
    0 0 12px #d4af37, 0 0 18px #d4af37;
}
@keyframes pulse-slow {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.4;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.2s ease-out both;
}
